//
// @group _settings/
//

// Хедперы видимости элементов
// @requires {mixin} media
// @param {Map} $points [()] - карта брейкпоинтов, для которых нужно сделать хелперы
@mixin helpers-show-hide ($points: ()) {
  /* stylelint-disable */
  ._hide {
    display: none !important; // sass-lint:disable-line declaration-no-important
  }
  ._hide-touch {
    .touchevents & {
      display: none !important; // sass-lint:disable-line declaration-no-important
    }
  }
  ._hide-notouch {
    .no-touchevents & {
      display: none !important; // sass-lint:disable-line declaration-no-important
    }
  }
  ._initial {
    display: initial;
  }

  @media print {
    ._noprint {
      display: none !important; // sass-lint:disable-line declaration-no-important
    }
  }

  @each $point, $size in $points {
    $mod: $point + $sep;

    @include media($size) {
      ._#{$mod}hide {
        display: none !important; // sass-lint:disable-line declaration-no-important
      }
    }

    @include media($size, max) {
      ._#{$mod}show {
        display: none !important; // sass-lint:disable-line declaration-no-important
      }
    }
  }
  /* stylelint-enable */
}
