//
// @group _settings/
//

// @param {String} $mod [""] - название брейкпоинта с разделителем
// @access private
@mixin _helpers-color-generate($mod: '') {
  $props: (
    color: color,
    bgcolor: background-color,
    fill: fill
  );

  @each $color, $value in $_colors-map {
    @each $key, $prop in $props {
      ._#{$mod + $key + $sep + $color} {
        #{$prop}: $value;
      }
    }
  }
}

// Хедперы цветов элементов
// @param {Map} $colors [()] - карта цветов, для которых нужно сделать хелперы
// @param {Map} $points [()] - карта брейкпоинтов, для которых нужно сделать хелперы
@mixin helpers-color ($colors: (), $points: ()) {
  @include _helpers-color-generate();

  @if ($points) {
    @each $point, $size in $points {
      @include media($size) {
        @include _helpers-color-generate($point + $sep);
      }
    }
  }
}
