//
// @group utils.scss
//

// Tools
@import 'tools/variables';
@import 'tools/index';

// Mixins
@import 'tools/mixins/h-grid';
@import 'tools/mixins/h-gutter';
@import 'tools/mixins/h-flex';
@import 'tools/mixins/h-show-hide';
@import 'tools/mixins/h-float';

$_screen-map: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);

// Note: uncomment any of this if needed

$_gutters-map: (
  none: $gutter-none,
  //10:   $gutter-10,
  15:   $gutter-15,
  //20:   $gutter-20,
  //25:   $gutter-25,
  30:   $gutter-30,
  //35:   $gutter-35,
  //40:   $gutter-40,
  45:   $gutter-45,
  //50:   $gutter-50,
  //55:   $gutter-55,
  //60:   $gutter-60
);

@include helpers-grid($grid-column-count, $_screen-map, $_gutters-map);
@include helpers-gutter($_screen-map, $_gutters-map);
//@include helpers-flex($_screen-map);
//@include helpers-show-hide($_screen-map);
//@include helpers-float($_screen-map);
