@mixin _helpers-gutter-sides($name, $prop, $suffix, $value, $mod: '') {
  $start: #{$mod + $name};
  $end: #{$sep + $suffix};

  $sides: (
    t: top,
    //r: right,
    //b: bottom,
    //l: left
  );

  $axis: (
    //tb: (top, bottom),
    //lr: (left, right),
  );

  //._#{$start + $end} {
  //  #{$prop}: $value;
  //}

  @each $side, $val in $sides {
    ._#{$start + $side + $end} {
      #{$prop}#{-#{$val}}: $value;
    }
  }

  @each $side, $val in $axis {
    ._#{$start + $side + $end} {
      #{$prop}#{-#{nth($val, 1)}}: $value;
      #{$prop}#{-#{nth($val, 2)}}: $value;
    }
  }
}

// Indentation helpers
// @requires {mixin} media
// @param {Map} $points [()] - map of breakpoints to make helpers to
// @param {Map} $gutters [()] - map of gutters to make helpers to
@mixin helpers-gutter ($points: (), $gutters: ()) {
  $props: (
    m: margin,
    //p: padding
  );

  @each $name, $prop in $props {
    //@if ($name == m) {
    //  @include _helpers-gutter-sides($name, $prop, auto, auto);
    //
    //  @each $point, $size in $points {
    //    @include media($size) {
    //      @include _helpers-gutter-sides($name, $prop, auto, auto, $point + $sep);
    //    }
    //  }
    //}

    @each $gap, $value in $gutters {
      @include _helpers-gutter-sides($name, $prop, $gap, $value);

      @each $point, $size in $points {
        @include media($size) {
          @include _helpers-gutter-sides($name, $prop, $gap, $value, $point + $sep);
        }
      }
    }
  }
}
