html {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $font-family-main;
  color: $body-color;
}

body {
  font-size: 16px;
}

::selection {
  color: $white;
  background: $primary;
}
